In [2]:
import sklearn
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv("CarPrice_Assignment.csv")
data

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [4]:
data.isnull().any(axis=0)

car_ID              False
symboling           False
CarName             False
fueltype            False
aspiration          False
doornumber          False
carbody             False
drivewheel          False
enginelocation      False
wheelbase           False
carlength           False
carwidth            False
carheight           False
curbweight          False
enginetype          False
cylindernumber      False
enginesize          False
fuelsystem          False
boreratio           False
stroke              False
compressionratio    False
horsepower          False
peakrpm             False
citympg             False
highwaympg          False
price               False
dtype: bool

In [5]:
d1=pd.get_dummies(data["CarName"])
d1

,Nissan versa,alfa-romero Quadrifoglio,alfa-romero giulia,alfa-romero stelvio,audi 100 ls,audi 100ls,audi 4000,audi 5000,audi 5000s (diesel),audi fox,...,volkswagen type 3,volvo 144ea,volvo 145e (sw),volvo 244dl,volvo 245,volvo 246,volvo 264gl,volvo diesel,vw dasher,vw rabbit
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
201,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
202,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
203,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
204,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [6]:
d2=pd.get_dummies(data["fueltype"])
d2

     diesel  gas
0         0    1
1         0    1
2         0    1
3         0    1
4         0    1
..      ...  ...
200       0    1
201       0    1
202       0    1
203       1    0
204       0    1

[205 rows x 2 columns]

In [7]:
d3=pd.get_dummies(data["carbody"])
d3

     convertible  hardtop  hatchback  sedan  wagon
0              1        0          0      0      0
1              1        0          0      0      0
2              0        0          1      0      0
3              0        0          0      1      0
4              0        0          0      1      0
..           ...      ...        ...    ...    ...
200            0        0          0      1      0
201            0        0          0      1      0
202            0        0          0      1      0
203            0        0          0      1      0
204            0        0          0      1      0

[205 rows x 5 columns]

In [8]:
d4=pd.get_dummies(data["enginetype"])
d4

     dohc  dohcv  l  ohc  ohcf  ohcv  rotor
0       1      0  0    0     0     0      0
1       1      0  0    0     0     0      0
2       0      0  0    0     0     1      0
3       0      0  0    1     0     0      0
4       0      0  0    1     0     0      0
..    ...    ... ..  ...   ...   ...    ...
200     0      0  0    1     0     0      0
201     0      0  0    1     0     0      0
202     0      0  0    0     0     1      0
203     0      0  0    1     0     0      0
204     0      0  0    1     0     0      0

[205 rows x 7 columns]

In [9]:
data1=pd.concat([data,d1,d2,d3,d4],axis=1)

In [10]:
data1

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,hatchback,sedan,wagon,dohc,dohcv,l,ohc,ohcf,ohcv,rotor
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,0,0,0,1,0,0,0,0,0,0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,0,0,0,1,0,0,0,0,0,0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,1,0,0,0,0,0,0,0,1,0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,0,1,0,0,0,0,1,0,0,0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,0,1,0,0,0,0,1,0,0,0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,0,1,0,0,0,0,1,0,0,0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,0,1,0,0,0,0,0,0,1,0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,0,1,0,0,0,0,1,0,0,0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,0,1,0,0,0,0,1,0,0,0

In [11]:
data1.drop(["CarName","fueltype","carbody","enginetype","enginetype","car_ID","symboling","aspiration","drivewheel","enginelocation","wheelbase","carlength","carwidth","carheight","curbweight","cylindernumber","enginesize","fuelsystem","boreratio","stroke","compressionratio","horsepower","peakrpm","citympg","highwaympg"],axis=1,inplace=True)
data1

,doornumber,price,Nissan versa,alfa-romero Quadrifoglio,alfa-romero giulia,alfa-romero stelvio,audi 100 ls,audi 100ls,audi 4000,audi 5000,...,hatchback,sedan,wagon,dohc,dohcv,l,ohc,ohcf,ohcv,rotor
0,two,13495.0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,two,16500.0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,two,16500.0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
3,four,13950.0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,1,0,0,0
4,four,17450.0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,four,16845.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
201,four,19045.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
202,four,21485.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
203,four,22470.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
204,four,22625.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

In [12]:
pip install word2number

Requirement already satisfied: word2number in c:\users\user\anaconda3\lib\site-packages (1.1)
Note: you may need to restart the kernel to use updated packages.

In [13]:
from word2number import w2n

In [14]:
data1["doornumber"]=data1["doornumber"].map(w2n.word_to_num)
data1

,doornumber,price,Nissan versa,alfa-romero Quadrifoglio,alfa-romero giulia,alfa-romero stelvio,audi 100 ls,audi 100ls,audi 4000,audi 5000,...,hatchback,sedan,wagon,dohc,dohcv,l,ohc,ohcf,ohcv,rotor
0,2,13495.0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,2,16500.0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,2,16500.0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
3,4,13950.0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,1,0,0,0
4,4,17450.0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,4,16845.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
201,4,19045.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
202,4,21485.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
203,4,22470.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
204,4,22625.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

In [15]:
data1.columns

Index(['doornumber', 'price', 'Nissan versa', 'alfa-romero Quadrifoglio',
       'alfa-romero giulia', 'alfa-romero stelvio', 'audi 100 ls',
       'audi 100ls', 'audi 4000', 'audi 5000',
       ...
       'hatchback', 'sedan', 'wagon', 'dohc', 'dohcv', 'l', 'ohc', 'ohcf',
       'ohcv', 'rotor'],
      dtype='object', length=163)

In [22]:
x=data1.drop(["price"],axis=1)
y=data1["price"]

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
model=LinearRegression()

In [19]:
model.fit(x,y)

LinearRegression()

In [20]:
model.score(x,y)

0.9711010170232328

In [21]:
#model.predict([[2,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0]])